<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Apostas Restantes</title>
</head>
<body>

    <p>
        Olá,
    </p>
    <p>
        Você ainda não concluiu todas as apostas do bolão.</p>
    <p>
        Por favor, entre com os resultados para continuar fazendo parte do bolão depois 
        de iniciado.</p>
    <p>
        Obrigado.</p>
    <p>
        [%SIGNATURE%]</p>

</body>
</html>
