<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Pagamentos Restantes</title>
</head>
<body>

    <p>
        Olá,
    </p>
    <p>
        Você ainda não efetuou o pagamento necessário para fazer parte do bolão.</p>
    <p>
        Para continuar fazendo parte do bolão depois de iniciado, favor efetuar o 
        pagamento.</p>
    <p>
        Obrigado.</p>
    <p>
        [%SIGNATURE%]</p>
    <p>
    </p>

</body>
</html>
