<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProcessorSettings" type="Framework.Configuration.KeySetConfigurationHandler, Framework.Configuration"/>
  </configSections>
  
  
  <connectionStrings>
    <add name="DBProviderANTIGO"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Sources\BolaoNet.mdf;Integrated Security=True;User Instance=True"
        providerName="System.Data.SqlClient" />


    <add name="DBProvider"
         connectionString="Data Source=LOCALHOST\SQL2008;User ID=ci;Password=ci;Initial Catalog=BolaoNetDeploy"
         providerName="System.Data.SqlClient" />
  </connectionStrings>






  <ProcessorSettings>
    <Keyset name="Root">
      <Keyset name="FileProcessor">
        <Key name="FullTypeName">GlobalViewDataFeedTask.Processors.FileProcessor, GlobalViewDataFeedTask</Key>
        <Keyset name="ConfigInfo">
        </Keyset>
      </Keyset>
      <Keyset name="FormatForXmlProcessor">
        <Key name="FullTypeName">GlobalViewDataFeedTask.Processors.FormatForXmlProcesser, GlobalViewDataFeedTask</Key>
        <Keyset name="ConfigInfo">
        </Keyset>
      </Keyset>
      <Keyset name="ImportProcessor">
        <Key name="FullTypeName">GlobalViewDataFeedTask.Processors.ImportProcessor, GlobalViewDataFeedTask</Key>
        <Keyset name="ConfigInfo">
        </Keyset>
      </Keyset>
      <Keyset name="ParCompProcessor">
        <Key name="FullTypeName">GlobalViewDataFeedTask.Processors.ParCompProcessor, GlobalViewDataFeedTask</Key>
        <Keyset name="ConfigInfo">
        </Keyset>
      </Keyset>
      <Keyset name="EmployeesProcessor">
        <Key name="FullTypeName">GlobalViewDataFeedTask.Processors.EmployeesProcessor, GlobalViewDataFeedTask</Key>
        <Keyset name="ConfigInfo">
        </Keyset>
      </Keyset>

    </Keyset>
  </ProcessorSettings>






  <system.web>
    <membership defaultProvider ="UserManagerService">
      <providers>
        <clear />
        <add name="UserManagerService"
             type="Framework.Security.Business.UserManagerService, Framework.Security"
             connectionStringName="DBProvider"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Clear"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />
      </providers>
    </membership>
  </system.web>


  <!--
  
  
 <system.web>
    <roleManager enabled="true" />
    <membership
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="LocalSqlServer"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />
      </providers>
    </membership>
  </system.web>
 
  
  
  
  
  <providers>
    <add connectionStringName="DBProvider" applicationName="BolaoNet"
     enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true"
     requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10"
     minRequiredAlphaNumericCharacters="0" minRequiredPasswordLength="5"
     passwordStrengthRegularExpression="" userIsOnlineTimeWindow="10"
     description="Stores and retrieves membership data from SQL Server"
     decryptionKey="68d288624f967bce6d93957b5341f931f73d25fef798ba75"
     validationKey="65a31e547b659a6e35fdc029de3acce43f8914cb1b24fff3e1aef13be438505b3f5becb5702d15bc7b98cd6fd2b7702b46ff63fdc9ea8979f6508c82638b129a"
     passwordFormat="Clear" name="CustomMemberShipProvider" type="Providers.CustomMemberShipProvider" />



  </providers>-->
  
</configuration>