<?xml version="1.0" encoding="utf-8" ?>
<Keyset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Root">
    <Keyset name="RootName">
      <Keyset name="Level1">
        <Key name="Item1.Level1">Value1.Level1</Key>
        <Key name="Item2.Level1">Value2.Level1</Key>
      </Keyset>
      <Keyset name="Level2">
        <Key name="Item1.Level2">Value1.Level2</Key>
        <Key name="Item2.Level2">Value2.Level2</Key>
      </Keyset>        
    </Keyset>
  <Key name="Item1">Value1</Key>
  <Key name="Item2">Value2</Key>
</Keyset>



