<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LoggerSettings" type="Framework.Configuration.KeySetConfigurationHandler, Framework.Configuration"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <!-- section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/ -->
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <!-- section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/ >
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/ >
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/ >
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/ -->
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="Facebook_aplicationKey" value="412578255548297"/>
    <add key="Facebook_aplicationSecret" value="f46f05e15b9c3635137a7456922415ee"/>
    <add key="Facebook_scope" value="publish_actions"/>
    <add key="Facebook_images" value="http://localhost/Images/Pontos/"/>
    <add key="Facebook_Pontos_0" value="Não tive sorte neste jogo, que zebra, não acertei nada!"/>
    <add key="Facebook_Pontos_1" value="Consegui acertar pelo menos o gol de uma das duas seleções."/>
    <add key="Facebook_Pontos_2" value="Que chance eu perdi...pelo menos acertei o gol de uma das duas seleções"/>
    <add key="Facebook_Pontos_3" value="Acertei o ganhador do jogo!"/>
    <add key="Facebook_Pontos_4" value="Quase, acertei a vitória de uma das seleções e o gol de uma delas!"/>
    <add key="Facebook_Pontos_5" value="Resultado difícil, mas acertei o empate!"/>
    <add key="Facebook_Pontos_6" value="Já que é jogo do Brasil, consegui acertar a vitória da seleção."/>
    <add key="Facebook_Pontos_8" value="Quase em cheio! Acertei a vitória da seleção e quantidade de gols de uma delas! Mas como é jogo do Brasil, perdi uma chance boa!"/>
    <add key="Facebook_Pontos_10" value="Na mosca! Muito fácil ... rs"/>
    <add key="Facebook_Pontos_10_Brasil" value="Jogo do Brasil é sempre difícil, ainda mais quando ocorre empate."/>
    <add key="Facebook_Pontos_20" value="No jogo do Brasil é melhor ainda, consegui acertar em cheio!!!"/>
    
    <add key="TemplatesPath" value="\Templates"/>
    <add key="MailEnableSSL" value="true"/>
    <add key="MailFrom" value="thorisbolaonet@gmail.com"/>
    <add key="MailPort" value="587"/>
    <add key="MailSmtp" value="smtp.gmail.com"/>
    <add key="MailSenderType" value="2"/>
    <add key="MailPassword" value="thorisangelo01"/>
    <add key="MailTagUrl" value="http://localhost:9090/"/>
    <add key="MailTagActivationPage" value="Visitante/ConfirmLogin.aspx"/>
    <add key="MailTagSignature" value="Administrador do Bolão Net (Test)"/>
    <add key="MaxGolGoleadas" value="4"/>
    <add key="MaxAcertosDificeis" value="2"/>
    <add key="TotalFinishedJogosView" value="10"/>
    <add key="TotalNextJogos" value="10"/>
    <add key="ChartImageHandler" value="storage=memory;timeout=20;"/>
    <add key="BolaoListToAddAtConfirmation" value="Copa do Mundo 2014"/>
    <add key="RolesToAddAtConfirmation" value="Apostador|Visitante de Bolão|Visitante de Campeonato"/>
	<add key="GoogleAnalyticsId" value=""/>
	  <add key="EnvironmentName" value="LOCAL"/>
	  <add key="EnvironmentColor" value="Red"/>
  </appSettings>
	
  <connectionStrings>
    <add name="DBProvider" connectionString="user id=bolaonet;pwd=bolaonet;data source=THORIS-PC\SQL2012;persist security info=False;initial catalog=BolaoNetProd" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
  
	<!-- Begin Logging specific settings-->
  <LoggerSettings>
    <Keyset name="Logger">
      <Key name="ApplicationId" dataType="int32">1</Key>
      <Key name="LogFrameworkTraceMessages" dataType="boolean">false</Key>
      <Key name="FailurePath" dataType="string">c:\logging_failed</Key>
      <Key name="LogFailuresToDisk" dataType="boolean">false</Key>
      <Keyset name="Transports">
        <Keyset name="SQL">
          <Key name="ConnectionName" dataType="string">DBProvider</Key>
          <Key name="StoredProcedure" dataType="string">lg_ins_log_record</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">true</Key>
            <Key name="Trace" dataType="boolean">true</Key>
            <Key name="Information" dataType="boolean">true</Key>
            <Key name="Warning" dataType="boolean">true</Key>
            <Key name="Error" dataType="boolean">true</Key>
            <Key name="SuccessAudit" dataType="boolean">true</Key>
            <Key name="FailureAudit" dataType="boolean">true</Key>
          </Keyset>
        </Keyset>
        <Keyset name="NTEventLog">
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">false</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
        <Keyset name="LogFile">
          <Key name="LogFileDirectory" dataType="string">c:\logging\</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">false</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
        <Keyset name="Remoting">
          <Key name="RemoteObjectUrl" datatype="string">tcp://uscrn-mveit:28700/LogServer/RemotingListener</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">false</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
        <Keyset name="MSMQ">
          <Key name="QueuePath" dataType="string">.\private$\logging_entry</Key>
          <Key name="TransactionalQueue" dataType="boolean">true</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">false</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
        <Keyset name="SMTP">
          <Key name="WaitTime" dataType="string">20</Key>
          <Key name="SmtpPassword" dataType="string">thorisangelo01</Key>
          <Key name="SmtpPort" dataType="int">587</Key>
          <Key name="SslEnabled" dataType="boolean">true</Key>
          <Key name="Smtpserver" dataType="string">smtp.gmail.com</Key>
          <Key name="SmtpFromEmail" dataType="string">thorisbolaonet@gmail.com</Key>
          <Key name="SmtpToEmails" dataType="string">thorisangelo@hotmail.com</Key>
          <Key name="EmailSubject" dataType="string">BolaoNet event (NETBOOK)</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">true</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
      </Keyset>
      <Keyset name="ActiveEvents">
        <Key name="Debug" dataType="boolean">true</Key>
        <Key name="Trace" dataType="boolean">true</Key>
        <Key name="Information" dataType="boolean">true</Key>
        <Key name="Warning" dataType="boolean">true</Key>
        <Key name="Error" dataType="boolean">true</Key>
        <Key name="SuccessAudit" dataType="boolean">true</Key>
        <Key name="FailureAudit" dataType="boolean">true</Key>
      </Keyset>
    </Keyset>
  </LoggerSettings>
  <!-- End Logging specific settings-->
	
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    
	<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    
	<roleManager defaultProvider="CustomRoleProvider" cookiePath="\" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieProtection="None" cookieTimeout="10000" cookieRequireSSL="false" cookieSlidingExpiration="false" createPersistentCookie="true">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="Framework.Security.Business.CustomRoleProvider, Framework.Security" connectionStringName="DBProvider" applicationName="/"/>
      </providers>
    </roleManager>
    
	<anonymousIdentification enabled="true"/>
    
	<profile automaticSaveEnabled="true" enabled="true" defaultProvider="CustomProfileProvider" inherits="BolaoNet.Business.Profile.CustomProfile">
      <providers>
        <add name="CustomProfileProvider" type="Framework.Security.Business.CustomProfileProvider, Framework.Security" connectionStringName="DBProvider"/>
      </providers>
      <!--<properties>
        <add name="Campeonato" type="string" allowAnonymous="true"/>
        <add name="Bolao" type="String" allowAnonymous="true"/>
      </properties>-->
    </profile>
    
	<membership defaultProvider="UserManagerService" userIsOnlineTimeWindow="5">
      <providers>
        <add name="UserManagerService" type="Framework.Security.Business.UserManagerService, Framework.Security" connectionStringName="DBProvider" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredAlphaNumericCharacters="0"/>
      </providers>
    </membership>
    
	<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!--<roleManager enabled="true" />-->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    
	<authentication mode="Forms">
      <forms loginUrl="~/Visitante/Login.aspx" slidingExpiration="true" cookieless="AutoDetect" timeout="525600">
        <!--<credentials passwordFormat="Clear">
          <user name="thoris"  password="thoris"  />
        </credentials>-->
      </forms>
    </authentication>
    
	<!--<identity impersonate="true" userName="thoris" password="thoris" />-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
	<pages theme="Blue" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
	<httpRuntime requestValidationMode="2.0" />

  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="ChartImageHandler"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	
  <system.net>
    <mailSettings>
      <!--<smtp from="thoris.pivetta-exterieur@eu.rhodia.com">
        <network defaultCredentials="true" host="10.8.1.81" port="25" userName="Thoris" password="Thoris"/>
      </smtp>-->
      <smtp from="thorisbolaonet@gmail.com">
        <network host="smtp.gmail.com" port="465" userName="thorisbolaonet@gmail.com" password="thorisangelo01"/>
      </smtp>
    </mailSettings>
  </system.net>
	
</configuration>