<?xml version="1.0" encoding="utf-8" ?>


<configuration>

  <configSections>
    <section name="LoggerSettings" type="Framework.Configuration.KeySetConfigurationHandler, Framework.Configuration"/>
  </configSections>


  <appSettings>
    <add key="TemplatesPath" value="\Templates"/>
    <add key="MailEnableSSL" value="true"/>
    <add key="MailTagUrl" value="http://thoris.targetbr.biz/"/>
    <add key="MailTagActivationPage" value="Visitante/ConfirmLogin.aspx"/>
    <add key="MailTagSignature" value="Administrador do Bolão Net"/>
    <add key="MaxGolGoleadas" value="4"/>
    <add key="TotalFinishedJogosView" value="10"/>
    <add key="TotalNextJogos" value="10"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=.\;"/>
    <add key="BolaoListToAddAtConfirmation" value="Copa do mundo 2010"/>
    <add key="RolesToAddAtConfirmation" value="Apostador|Visitante de Bolão|Visitante de Campeonato"/>



  </appSettings>
  
  <connectionStrings>

    <!--<add name="DBProvider"
    connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\BolaoNet.mdf;Integrated Security=True;User Instance=True"
    providerName="System.Data.SqlClient" />-->


    <add name="DBProvider" connectionString="Data Source=localhost\SQL2000; user id=sa; password=thoris; Initial Catalog=bolaonet;" providerName="System.Data.SqlClient"/>
    <add name="DBProvider_site" connectionString="Data Source=localhost;User ID=bolaonet;Password=thoris" providerName="System.Data.SqlClient"/>

    <!--<add name="DBProvider" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Thoris\PROJS\BolaoNet\BolaoNet.WebSite\App_Data\BolaoNet.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>

  <system.web>


    <roleManager defaultProvider="CustomRoleProvider" cookiePath="\" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieProtection="None" cookieTimeout="10000" cookieRequireSSL="false" cookieSlidingExpiration="false" createPersistentCookie="true">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="Framework.Security.Business.CustomRoleProvider, Framework.Security" connectionStringName="DBProvider" applicationName="/"/>

      </providers>
    </roleManager>

    
  </system.web>


  <!-- Begin Logging specific settings-->
  <LoggerSettings>
    <Keyset name="Logger">
      <Key name="ApplicationId" dataType="int32">1</Key>
      <Key name="LogFrameworkTraceMessages" dataType="boolean">false</Key>
      <Key name="FailurePath" dataType="string">c:\logging_failed</Key>
      <Key name="LogFailuresToDisk" dataType="boolean">false</Key>
      <Keyset name="Transports">
        <Keyset name="SQL">
          <Key name="ConnectionName" dataType="string">DBProvider</Key>
          <Key name="StoredProcedure" dataType="string">lg_ins_log_record</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">true</Key>
            <Key name="Trace" dataType="boolean">true</Key>
            <Key name="Information" dataType="boolean">true</Key>
            <Key name="Warning" dataType="boolean">true</Key>
            <Key name="Error" dataType="boolean">true</Key>
            <Key name="SuccessAudit" dataType="boolean">true</Key>
            <Key name="FailureAudit" dataType="boolean">true</Key>
          </Keyset>
        </Keyset>
        <Keyset name="NTEventLog">
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">false</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
        <Keyset name="LogFile">
          <Key name="LogFileDirectory" dataType="string">c:\logging\</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">false</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
        <Keyset name="Remoting">
          <Key name="RemoteObjectUrl" datatype="string">tcp://uscrn-mveit:28700/LogServer/RemotingListener</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">false</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
        <Keyset name="MSMQ">
          <Key name="QueuePath" dataType="string">.\private$\logging_entry</Key>
          <Key name="TransactionalQueue" dataType="boolean">true</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">false</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
        <Keyset name="SMTP">
          <Key name="WaitTime" dataType="string">20</Key>
          <Key name="SmtpPassword" dataType="string">angelo</Key>
          <Key name="SmtpPort" dataType="int">587</Key>
          <Key name="SslEnabled" dataType="boolean">true</Key>
          <Key name="Smtpserver" dataType="string">smtp.gmail.com</Key>
          <Key name="SmtpFromEmail" dataType="string">thorisangelo@gmail.com</Key>
          <Key name="SmtpToEmails" dataType="string">thorisangelo@hotmail.com</Key>
          <Key name="EmailSubject" dataType="string">BolaoNet event</Key>
          <Keyset name="ActiveEvents">
            <Key name="Debug" dataType="boolean">false</Key>
            <Key name="Trace" dataType="boolean">false</Key>
            <Key name="Information" dataType="boolean">true</Key>
            <Key name="Warning" dataType="boolean">false</Key>
            <Key name="Error" dataType="boolean">false</Key>
            <Key name="SuccessAudit" dataType="boolean">false</Key>
            <Key name="FailureAudit" dataType="boolean">false</Key>
          </Keyset>
        </Keyset>
      </Keyset>
      <Keyset name="ActiveEvents">
        <Key name="Debug" dataType="boolean">true</Key>
        <Key name="Trace" dataType="boolean">true</Key>
        <Key name="Information" dataType="boolean">true</Key>
        <Key name="Warning" dataType="boolean">true</Key>
        <Key name="Error" dataType="boolean">true</Key>
        <Key name="SuccessAudit" dataType="boolean">true</Key>
        <Key name="FailureAudit" dataType="boolean">true</Key>
      </Keyset>
    </Keyset>
  </LoggerSettings>
  <!-- End Logging specific settings-->
</configuration>