<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBProvidernetwork" connectionString="workstation id=BolaoNetTest.mssql.somee.com;packet size=4096;user id=thoris_SQLLogin_1;pwd=thoris_SQLLogin_1;data source=BolaoNetTest.mssql.somee.com;persist security info=False;initial catalog=BolaoNetTest" providerName="System.Data.SqlClient"/>

    <add name="DBProvider" connectionString="Data Source=THORIS-PC\SQL2008; user id=bolaonetdev; password=bolaonetdev; Initial Catalog=bolaonetdev;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
