<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!-- add name="BolaoNet.Tests.Properties.Settings.BolaoNetConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Sources\BolaoNet.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" / -->
      <add name="DBProvider"
            connectionString="Data Source=LOCALHOST\SQL2008;User ID=ci;Password=ci;Initial Catalog=BolaoNetDeploy"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>